.antd-ce-popover-overlay {
  display: inline-block;
}

.ant-popover-inner {
  padding: 0 8px 16px !important;
}

.twitter-picker {
  box-shadow: none;

  span {
    div {
      width: 18px !important;
      height: 18px !important;
    }
  }
}

.antd-ce-color-item {
  width: 24px;
  height: 24px;
  padding: 2px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #fff;

  &:hover {
    border-color: #d9d9d9;
    box-shadow: 0 1px 2px rgb(0 0 0 / 12%);
  }

  .antd-ce-color-item-inner {
    width: 18px;
    height: 18px;
    border-radius: 2px;
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 4px 0;
  height: 36px;
  line-height: 36px;

  .header-title {
    margin-left: 8px;
    font-size: 14px;
    color: #262626;
  }
}
